<div class="root">
        <div class="navbar has-background-dark">
          <div class="navbar-brand">
            <div class="navbar-item">
              <h1 class="app-name has-gradient-text">Candy Crush</h1>
            </div>
          </div>
        </div>
    
        <div class="board">
            <div class="board-bar">
                <p class="board-name"><a href routerLink="register" >Register</a></p>
            </div>
            <div class="board-wrapper">
                <div class="grid_box" > 
                        <div class="board-rows" cdkDropListGroup>
                               
                                        <div class="tiles-container">

                                            <div class="tiles">blaa</div>

                                        </div> 
                                        <div class="tiles-container">

                                                <div class="tiles">blaa</div>
    
                                            </div> 
                               
                        </div>
                </div>
            </div>
        </div>
      </div>  
    