<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
        </div>
      </div>
    </div>
  
    <div class="board">
     <div class="board-bar">
       <!-- <p class="board-name"><a href routerLink="register">Register</a></p>-->
      </div> 
      <div class="board-wrapper">
        <div class="grid_box board-rows">
         <div class="level1">
            <button type="submit" [routerLink]="['./grid']"  [queryParams]="{matrix: 6}" class="button is-danger">Level1</button>
         </div>
        
         <div class="level2">
            <button type="submit" [routerLink]="['./grid']"  [queryParams]="{matrix: 8}" class="button is-danger">Level2</button>
         </div>
         <div class="level3">
            <button type="submit" class="button is-danger">Level3</button>
         </div>
         <div class="level4">
            <button type="submit" class="button is-danger">Level4</button>
         </div>
         <div class="level5">
            <button type="submit" class="button is-danger">Level5</button>
         </div>
        </div>
      </div>
    </div>