<div class="root">
    <div class="navbar has-background-dark">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1 class="app-name has-gradient-text">Candy Crush</h1>
        </div>
      </div>
    </div>

    <div class="board">
        <div class="board-bar">
            <p class="board-name"><a href routerLink="register" >Register</a></p>
        </div>
        <div class="board-wrapper">
            <div class="login_box" > 
                <div class="field">
                    <input type="text" name="email" class="input" placeholder="email">
                </div>
                 <div class="field1">
                    <input type="text" name="password" class="input" placeholder="password">
                </div>
                   <div class="login-button">
                    <button type="submit" class="button is-danger">Login</button>
                  </div>
                
                
            </div>
        </div>
    </div>
  </div>  
